*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url("./imagenes/background-puntos.svg");
}
.header{
    height: 594px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 769px){
    .header{
        height: 616px;
    }
}
.barra-nav{
    display: flex;
    align-items: center;
    padding: 17px;
    justify-content: space-between;
}
@media (min-width: 769px){
    .barra-nav{
        padding: 36px 80px;
    }
}
.logo-black-mesa{
    width: 50px;
    height: 50px;
}
@media (min-width: 769px){
    .logo-black-mesa{
        width: 109px;
        height: 109px;
    }
}
.menu-hamburguesa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (min-width: 769px){
    .menu-hamburguesa{
        display: none;
    }
}
.barra-menu{
    margin: 3.5px;
    width: 36px;
    height: 6px;
    background-color: black;
}
.menu-con-nombres{
    display: none;
}
@media (min-width: 769px){
    .menu-con-nombres{
        width: 428px;
        display: flex;
        justify-content: space-between;
    }
}
.links-nav{
    font-size: 24px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
    color: black;
}
.seccion-bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 769px){
    .seccion-bienvenida{
        padding: 0 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.titulo-de-bienvenida{
    font-size: 48px;
    text-align: center;
}
@media (min-width: 769px){
    .titulo-de-bienvenida{
        font-size: 48px;
        text-align: center;
        margin: 0 0 220px 0 ;
    }
}
.gordon-freeman{
    width: 318px;
    height: 300px;
}
@media (min-width: 769px){
    .gordon-freeman{
        width: 435px;
        height: 395px;
    }
}
.seccion-biografia{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    padding: 25px;
    height: 538px;
}
@media (min-width: 769px){
    .seccion-biografia{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
}
.biografia{
    margin: 20px 0 0 0;
    color: white;
    padding: 32px;
}
@media (min-width: 769px){
    .biografia{
        padding: 0;
        max-width: 532px;
        margin: 0 0 0 90px
    }
}
    
.soy-gordon{
    margin: 0;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: orangered
}
@media (min-width: 769px){
    .soy-gordon{
        margin:0 0 20px 90px;
        text-align: start;
    }
}
.cuadrado-alien{
    width: 80px;
    height: 80px;
    border: solid orangered;
    border-radius: 5px;
    margin: 0 auto;
    background-color: white;
}
@media (min-width: 769px){
    .cuadrado-alien{
        margin: 0;
        width: 211px;
        height: 211px;
    }
}
.lamarr{
    width: 70px;
    height: 70px;
}
@media (min-width: 769px){
    .lamarr{
        width: 200px;
        height: 200px;
    }
}
.seccion-servicios{
    background-color: #FAFAFA;
    padding: 66px 0;
}
@media (min-width: 769px){
    .seccion-servicios{
        height: 604px;
        padding: 0;
    }
}

.mis-servicios{
    margin-bottom: 45px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #2C2C2C;
}
@media (min-width: 769px){
    .mis-servicios{
        font-size: 48px;
    }
}
.contenedor-servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 769px){
    .contenedor-servicios{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 55.5px 57px;
}
.titulo-cosas{
    font-weight: 700;
    font-size: 24px;
}
.logo-lambda{
    width: 110px;
    height: 110px;
}
.formulario{
    color: white;
    background-color: black;
    height: 660px;
    padding: 70px 20px;
}
@media (min-width: 769px){
    .formulario{
       display: grid;
       grid-template-columns: 45% 55%;
       grid-template-rows: 1fr;
       justify-content: center;
    }
}
.titulo-formulario{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 26px;
    margin: 0;
}
@media (min-width: 769px){
    .titulo-formulario{
        text-align: end;
        font-size: 48px;
        padding-right: 77px;
       
    }
}
.fieldset{
    margin-bottom: 27px 
}
.label{
    display: block;
    
}
.input{
    width: 100%;
    height: 45px;
    border: #2C2C2C solid;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.textarea{
    width: 100%;
    height: 113px;
    border: #2C2C2C solid;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.boton-envio{
    margin-top: 60px;
    background-color: orangered;
    width: 100%;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: #2C2C2C solid;
    border-radius: 7px;
}
@media (min-width: 769px){
    .input,.textarea,.boton-envio{
        min-width: 300px;
        width: 50%;
    }
}
.footer{
    background-color: #eeee;
    height: 493px;;
    padding-left: 20px;
}
@media (min-width: 769px){
    .footer{
        background: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo-final{
    padding: 53px 0;
    margin-bottom: 85px;
}
@media (min-width: 769px){
    .logo-final{
      padding-left:100px;
      margin: 0;
    }
}
.logo-footer{
    width: 70px;
    height: 70px;
}
@media (min-width: 769px){
    .logo-footer{
        width: 110px;
        height: 110px;

    }
}
.derechos-de-autor{
    font-size: 13px;
}
.redes{
    margin-right:12% ;
}
.logo-y-nombre{
    margin-bottom: 29px;
}
@media (min-width: 769px){
    .logo-y-nombre{
        padding-right:25%;
    }
}
.logo-redes{
    Width:28px;
    Height:28px;
    vertical-align: middle;
}
.nombre-red{
    display: inline;
    vertical-align: middle;
    color: #2C2C2C;
}
.links{
    text-decoration: none;
}